version: "3.9"

services:
  mongo:
    image: mongo:6
    restart: always
    ports: ["27017:27017"]
    volumes: [mongo-data:/data/db]

  redis:
    image: redis:7
    restart: always
    ports: ["6379:6379"] 
  
  api:
    build: ./api
    env_file: ./.env
    port: ["3000:3000"]
    depends_on: [mongo,redis]
    restart: always
  
  worker:
    build: ./worker
    env_file: ./.env
    depends_on: [mongo,redis]
    restart: always

  sink:
    build: ./sink
    env_file: ./.env
    port: ["4000:4000"]
    depends_on: [redis]
    restart: always
  
  volumes:
    mongo-data: